@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400;700&family=Lobster&display=swap");
$font-primary: "Barlow Condensed", sans-serif;
$font-headline: "Lobster", cursive;

// Breakpoints
$xs-width: 320px;
$sm-width: 500px;
$md-width: 768px;
$lg-width: 991px;
$xl-width: 1580px;

$map-width-props: (
  "": 0,
  "-xs": $xs-width,
  "-sm": $sm-width,
  "-md": $md-width,
  "-lg": $lg-width,
  "-xl": $xl-width,
);

// Black and White
$color-white: #fff;
$color-black: #242930;
$color-primary: #c10a13
